http:
  routers:
    ctfd-router-redirect:
      rule: "Host(`${BASE_DOMAIN}`)"
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: ctfd-service

    ctfd-router:
      rule: "Host(`${BASE_DOMAIN}`)"
      entryPoints:
        - websecure
      service: ctfd-service
      tls:
        certResolver: myresolver
        options: securetls@file

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    
    security-headers:
      headers:
        sslRedirect: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "strict-origin-when-cross-origin"

  services:
    ctfd-service:
      loadBalancer:
        servers:
          - url: "http://ctfd:8000"

tls:
  options:
    securetls:
      minVersion: VersionTLS12
      maxVersion: VersionTLS13
      
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
      
      preferServerCipherSuites: true
      curvePreferences:
        - CurveP521
        - CurveP384
        - CurveP256
      
      sniStrict: true
      
      alpnProtocols:
        - h2
        - http/1.1